@charset "UTF-8";
/* ==========================================================
! 0. SECTION: MENU
========================================================== */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
*,
*:after,
*:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

#nav_bar {
  background: #08fdd8;
  width: 65px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px; }
  #nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -120px;
    width: 100%; }
    #nav_bar nav a {
      font-size: 22px;
      color: #091624;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none; }
    #nav_bar nav a.active {
      color: #08fdd8; }
    #nav_bar nav a:hover {
      color: #091624; }
    #nav_bar nav a:after {
      content: '';
      font-size: 9px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-out; }
  #nav_bar ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0; }
    #nav_bar ul li {
      padding: 0 16px; }
      #nav_bar ul li a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: #091624; }
      #nav_bar ul li a:hover {
        color: #08fdd8;
        border-radius: 20px;
        background: #091624; }

#nav_bar nav a i {
  transition: all 0.3s ease-out; }

#nav_bar nav a:hover i {
  opacity: 0; }

#nav_bar nav a.active {
  color: #08fdd8;
  background: #091624; }
  #nav_bar nav a.active #nav_bar nav a:hover {
    color: #08fdd8;
    font-weight: 600; }

#nav_bar nav a:first-child:after {
  content: "HOME"; }

#nav_bar nav a:first-child + a:after {
  content: "ABOUT"; }

#nav_bar nav a:first-child + a + a:after {
  content: "SKILLS"; }

#nav_bar nav a:first-child + a + a + a:after {
  content: "MY WORK"; }

#nav_bar nav a:first-child + a + a + a + a:after {
  content: "CONTACT"; }

#nav_bar nav a:hover:after {
  opacity: 1; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qx6tzk");
  src: url("../fonts/icomoon.eot?qx6tzk#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qx6tzk") format("truetype"), url("../fonts/icomoon.woff?qx6tzk") format("woff"), url("../fonts/icomoon.svg?qx6tzk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e88a"; }

.icon-gear:before {
  content: "\f013"; }

.icon-eye:before {
  content: "\f06e"; }

.icon-mail:before {
  content: "\f0e0"; }

.icon-prof:before {
  content: "\f2c0"; }

#mobile-link {
  display: none; }

#mobile-link:hover {
  color: #091624; }

.logo {
  display: block; }

.logo img {
  display: block;
  margin: 8px auto;
  width: 100%;
  height: auto; }

/* --------------------------------------Responsive-------------------------------------------- */
/* ==========================================================
! 1. SECTION: HOME
========================================================== */
#page {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, #091624 0%, #0a1f2e 31%, #00353b 61%, #225757 100%); }

@font-face {
  font-family: "last_paradise";
  src: url("../fonts/last_paradise-webfont.ttf"); }
.home-page .text-zone {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  max-height: 90%; }
  .home-page .text-zone a {
    font-weight: normal; }
.home-page h1 {
  color: #fff;
  font-size: 56px;
  line-height: 65px;
  margin: 0;
  font-family: "last_paradise";
  font-weight: normal;
  padding-left: 5px; }
  .home-page h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -45px; }
  .home-page h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    animation: myanim2 1s 1.7s backwards; }
  .home-page h1 img {
    position: relative;
    top: -5px;
    opacity: 0;
    width: 32px;
    height: auto; }
.home-page h2 {
  color: #8d8d8d;
  margin-top: 9px;
  font-weight: normal;
  font-size: 14px;
  font-family: "terminus";
  letter-spacing: 2px;
  animation: myanim2 1s 1.8s backwards; }
.home-page .flat-button {
  color: #08fdd8;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "terminus";
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #08fdd8;
  margin-top: 25px;
  float: left;
  border-radius: 3px;
  animation: myanim2 1s 1.8s backwards;
  white-space: nowrap; }
.home-page .flat-button:hover {
  background: #08fdd8;
  color: #252627;
  font-weight: bold; }

@keyframes myanim2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
img {
  vertical-align: middle;
  border-style: none; }

.animation-logo {
  animation: animation2 1000ms linear both;
  opacity: 1 !important; }

.home-page .blast {
  opacity: 0;
  display: inline-block;
  transition: all 0.3s ease-out; }

.home-page .blast:hover {
  color: #08fdd8; }

.blast {
  display: inline-block; }

.text-page h1 .blast {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }

.bg {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto; }
  .bg .jb {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0; }

.tags {
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 80px;
  font-size: 18px;
  font-family: "La Belle Aurore", cursive; }

.top-tags {
  bottom: auto;
  top: 0; }

.bottom-tags {
  position: absolute;
  clear: both;
  float: left;
  margin-top: 22px;
  bottom: 0; }

/* machine Effect */
.home-page .text-zone h1 {
  overflow: hidden;
  /* Se asegura de que el efecto no ser├í revelado antes de aplicarse el efecto */
  border-right: 5px solid #02192000;
  /* Cursor parpadeante */
  white-space: nowrap;
  /* Mantiene el contenido en una sola l├¡nea */
  margin: 0 auto;
  /* Scroll effect */
  letter-spacing: 2px;
  /* Espaciado letras */
  animation: typing 1.5s steps(20, end), blink-caret 0.75s step-end none; }

/* Efecto de escribir */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* Cursor effect */
@keyframes blink-caret {
  from,
    to {
    border-color: transparent; }
  40% {
    border-color: #02192000; } }
.photohome {
  display: flex;
  /*     justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(34, 87, 87, 0.63) 0%, rgba(0, 53, 59, 0.705) 31%, rgba(10, 31, 46, 0.933) 61%, #091624 100%), url("../img/portadacom.jpg");
  /*     background: linear-gradient(to right, rgba(9, 22, 36, 1) 0%, rgba(10, 31, 46, 0.933) 31%, rgba(0, 53, 59, 0.855) 61%, rgba(34, 87, 87, 0.704) 100%) */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  filter: FlipH;
  flex-direction: column; }

/* ==========================================================
! 2. SECTION: ABOUT ME
========================================================== */
.container.about .text-zone {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%; }

.container.about .text-zone h1 {
  font-size: 53px;
  font-family: 'Audiowide', cursive;
  color: #08fdd8;
  font-weight: normal;
  margin-top: 0;
  position: relative;
  margin-bottom: 55px; }

.container.about h1 .blast {
  opacity: 0;
  transition: all 0.3s ease-out; }

.container.about .text-zone h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -10px; }

.container.about .text-zone h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -20px;
  bottom: -20px;
  margin-left: 20px; }

.container.about .text-zone p {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: 'terminus';
  letter-spacing: 0.5px; }

.photoportada {
  display: flex;
  /*     justify-content: flex-end; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #091624 0%, rgba(10, 31, 46, 0.933) 31%, rgba(0, 53, 59, 0.655) 61%, rgba(34, 87, 87, 0.504) 100%), url("../img/laptopcom.jpg");
  /*     background: linear-gradient(to right, rgba(9, 22, 36, 1) 0%, rgba(10, 31, 46, 0.933) 31%, rgba(0, 53, 59, 0.855) 61%, rgba(34, 87, 87, 0.704) 100%) */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column; }

.sound-cloud {
  will-change: contents;
  margin-top: 100px;
  width: 40%;
  top: 20%;
  bottom: auto;
  position: fixed;
  left: auto;
  right: 8%;
  overflow: hidden;
  z-index: -1;
  text-align: center; }
  .sound-cloud .section-title {
    margin-top: 25px;
    color: #fff;
    font-family: 'Audiowide', cursive; }
  .sound-cloud .distinciones {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sound-cloud .distinciones .top {
      background: #091624;
      border-radius: 100%; }
    .sound-cloud .distinciones .rock {
      background: #dbe0e0;
      border-radius: 100%; }
    .sound-cloud .distinciones .best {
      background: #091624;
      border-radius: 100%; }

/* ==========================================================
! 4. SECTION: SKILLS
========================================================== */
.container.skills .text-zone {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%; }

.container.skills .text-zone h1 {
  font-size: 53px;
  font-family: 'Audiowide', cursive;
  color: #08fdd8;
  font-weight: normal;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 40px;
  position: relative;
  display: block; }

.container.skills h1 .blast {
  opacity: 0;
  transition: all 0.3s ease-out; }

.container.skills .text-zone h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -35px; }

.container.skills .text-zone h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -20px;
  bottom: -40px;
  margin-left: 20px; }

.container.skills .text-zone p {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  font-family: 'terminus';
  letter-spacing: 0.5px; }

.skills-charts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2; }

.section-skills {
  width: 50%; }
  .section-skills h2 {
    color: #ffffff;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    text-align: center; }
  .section-skills h3 {
    color: #ffffff;
    font-size: 17px;
    font-family: 'Audiowide', cursive;
    text-align: center; }

.skills-list {
  padding-left: 0;
  margin-left: 35px;
  margin-right: 55px; }

.progress {
  position: relative;
  margin-bottom: 3%;
  height: 31px;
  width: 100%; }

.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-size: 13px;
  padding: 3px 30px 5px 10px;
  color: #ffffff;
  height: 100%; }

.progress > .progress-type i {
  font-size: 22px; }

.skills-list {
  list-style: none; }

.progress-bar-9 {
  background: #e9a11c; }

.progress-bar-10 {
  background: #3472e4; }

.wrap {
  display: flex;
  justify-content: center;
  margin: 40px 0; }

/* Progress Skills */
/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #646666;
  background-color: #252424;
  margin: 10px 18px; }

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 60px;
  padding-top: 16px; }
  .progress-radial .overlay i {
    font-size: 40px; }

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(90deg, #252424 50%, #646666 50%, #646666); }

.progress-5 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(108deg, #252424 50%, #646666 50%, #646666); }

.progress-10 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(126deg, #252424 50%, #646666 50%, #646666); }

.progress-15 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(144deg, #252424 50%, #646666 50%, #646666); }

.progress-20 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(162deg, #252424 50%, #646666 50%, #646666); }

.progress-25 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(180deg, #252424 50%, #646666 50%, #646666); }

.progress-30 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(198deg, #252424 50%, #646666 50%, #646666); }

.progress-35 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(216deg, #252424 50%, #646666 50%, #646666); }

.progress-40 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(234deg, #252424 50%, #646666 50%, #646666); }

.progress-45 {
  background-image: linear-gradient(90deg, #646666 50%, transparent 50%, transparent), linear-gradient(252deg, #252424 50%, #646666 50%, #646666); }

.progress-50 {
  background-image: linear-gradient(-90deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-55 {
  background-image: linear-gradient(-72deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-60 {
  background-image: linear-gradient(-54deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-65 {
  background-image: linear-gradient(-36deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-70 {
  background-image: linear-gradient(-18deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-75 {
  background-image: linear-gradient(0deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-80 {
  background-image: linear-gradient(18deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-85 {
  background-image: linear-gradient(36deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-90 {
  background-image: linear-gradient(54deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-95 {
  background-image: linear-gradient(72deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.progress-100 {
  background-image: linear-gradient(90deg, #252424 50%, transparent 50%, transparent), linear-gradient(270deg, #252424 50%, #646666 50%, #646666); }

.hability {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

/* ==========================================================
! 5. SECTION: PROJECTS
========================================================== */
.gallery {
  width: 100%;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.container .portafolio {
  position: absolute;
  width: 100%; }

.portafolio-content,
.portafolio-title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.project_container {
  width: 100%;
  text-align: center; }

.project_controls {
  padding: 0 0 20px 0;
  margin-top: 3%;
  text-align: center; }

.filter {
  background: none;
  color: #091624;
  transition: all 0.3s;
  text-decoration: none; }

.filter:hover {
  color: #fff;
  background: #08fdd8;
  text-decoration: none;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3); }

.project_controls a.active,
.filter.active,
.project_controls a.mixitup-control-active {
  background: #08fdd8;
  text-decoration: none;
  color: #091624;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3); }

.main {
  width: 90%;
  margin: 0 auto;
  position: relative; }

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px; }

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 10px rgba(16, 61, 54, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out; }

.onlyimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column; }
  .onlyimg.ch-img-1 {
    background-image: url("../img/trellophoenix.png"); }
  .onlyimg.ch-img-2 {
    background-image: url("../img/scoreboard.png"); }
  .onlyimg.ch-img-3 {
    background-image: url("../img/registerapp.png"); }
  .onlyimg.ch-img-4 {
    background-image: url("../img/memory.png"); }
  .onlyimg.ch-img-5 {
    background-image: url("../img/startstudio.png"); }
  .onlyimg.ch-img-6 {
    background-image: url("../img/gamelab.png"); }
  .onlyimg.ch-img-7 {
    background-image: url("../img/routing.png"); }
  .onlyimg.ch-img-8 {
    background-image: url("../img/foro.png"); }
  .onlyimg.ch-img-9 {
    background-image: url("../img/sushi.png"); }
  .onlyimg.ch-img-10 {
    background-image: url("../img/yanapa.png"); }
  .onlyimg.ch-img-11 {
    background-image: url("../img/gameplanet.png"); }
  .onlyimg.ch-img-12 {
    background-image: url("../img/lift.png"); }

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden; }

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 50px 0 0 0;
  height: 100px;
  font-family: 'terminus';
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }

.ch-info p {
  color: #fff;
  padding: 5px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.ch-info p a {
  color: rgba(255, 255, 255, 0.822);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  font-family: 'Open Sans', Arial, sans-serif; }

.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8); }

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table; }

.ch-item:hover {
  box-shadow: inset 0 0 0 110px rgba(58, 11, 2, 0.699), inset 0 0 0 10px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1); }

.ch-item:hover .ch-info {
  opacity: 1;
  transform: scale(1); }

.ch-info:hover figcaption {
  opacity: 1;
  visibility: visible; }

.ch-info figcaption {
  position: absolute;
  left: 50%;
  top: 75%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%); }

.ch-info .classless i {
  line-height: 30px;
  width: 30px;
  position: relative;
  transition: 0.3s;
  text-align: center;
  font-size: 17px;
  color: #fffefe; }

.ch-info .classless .icon + .icon {
  margin-left: 15px; }

.ch-info .classless .icon {
  position: relative;
  display: inline-block; }

.ch-info .classless .icon:hover i {
  color: #08fdd8; }

.ch-info .classless .icon:hover:before {
  border-color: #08fdd8; }

.ch-info .classless .icon:before {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border: 1px solid white;
  transform: rotate(45deg);
  content: ''; }

.ch-item:hover .classless {
  opacity: 1;
  visibility: visible;
  transform: translate(0); }

.classless {
  margin-top: 15px;
  transition: 0.3s;
  opacity: 0;
  visibility: visible;
  transform: translateY(-20px); }

.classless .icon {
  cursor: pointer; }

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute;
  left: -96px;
  font-family: 'Audiowide', cursive;
  transition: 0.3s;
  padding: 5px 15px 5px 69px;
  width: 175px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  border-radius: 0 5px 5px 0; }

#mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */ }

#projects {
  top: 45px;
  background-color: #da870b;
  /* Red */ }

#blog {
  top: 115px;
  background-color: #f800ae;
  /* Blue */ }

/* ==========================================================
! 6. SECTION: CONTACT
========================================================== */
.container.contact .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%; }

.container.contact .text-zone h1 {
  font-size: 53px;
  font-family: 'Audiowide', cursive;
  color: #08fdd8;
  font-weight: normal;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px; }

.container.contact .blast {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }

.container.contact .text-zone h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -10px; }

.container.contact .text-zone h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -20px;
  bottom: -20px;
  margin-left: 20px; }

.container.contact .text-zone p {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: 'terminus';
  letter-spacing: 0.5px; }

.contact-form {
  width: 100%; }

.contact-form ul {
  padding: 0;
  margin: 0; }

.contact-form ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  opacity: 0.7;
  overflow: hidden;
  display: block;
  clear: both;
  position: relative; }

.contact-form ul li.half {
  width: 49%;
  margin-left: 2%;
  float: left;
  clear: none; }

.contact-form ul li.submit {
  overflow: hidden; }

.contact-form ul li.half:first-child {
  margin-left: 0; }

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  border: 0;
  background: #37393b;
  height: 30px;
  font-family: 'terminus';
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
  box-sizing: border-box; }

.contact-form textarea {
  width: 100%;
  border: 0;
  background: #37393b;
  height: 40px;
  font-size: 16px;
  font-family: "terminus";
  color: #8d8d8d;
  padding: 20px;
  box-sizing: border-box;
  min-height: 65px; }

.contact-form .flat-button {
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "terminus";
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #08fdd8;
  float: left;
  border-radius: 4px;
  background: transparent;
  text-transform: uppercase;
  float: right;
  text-align: center;
  margin-right: 10px; }

.contact-form .flat-button:hover {
  background: #08fdd8;
  color: #252627; }

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
textarea:focus {
  outline: 0; }

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; }

.input__label--hoshi-color-2::after {
  border-color: #0fa; }

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 2px solid #08fdd8;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform .3s;
  transition: transform 0.3s; }

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.required .input__field--hoshi + .input__label--hoshi::after,
.required .input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-color: red; }

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 .3s forwards;
  animation: anim-1 0.3s forwards; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

.uk-link, a:hover {
  color: white; }

.uk-tooltip {
  background: #08fdd0;
  color: #192416;
  border-radius: 10px; }

.contactos {
  padding: 20px 5px; }
  .contactos a {
    background: #445050;
    color: #fff; }

.fa-download:before {
  content: "\f019"; }

.button_download {
  display: block;
  background: #2DAEE0;
  color: #fff;
  border: 1px solid #2DAEE0;
  color: #fff;
  margin: 10px 0;
  max-width: 220px;
  padding: 6px 19px;
  transition: all 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 48%;
  height: 100%;
  margin-top: 0%;
  border-radius: 100% 0; }

#map {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  #map .frase {
    text-align: center; }
    #map .frase p {
      color: white;
      font-size: 25px;
      font-family: 'Lobster', cursive; }

/* *{
    outline: 1px red solid;
} */
body {
  background: linear-gradient(to right, #091624 0%, #0a1f2e 31%, #00353b 61%, #225757 100%);
  display: block;
  margin: 0 !important;
  padding: 0;
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  user-select: none;
  overflow: auto; }

@font-face {
  font-family: "terminus";
  src: url("../fonts/TerminusTTF-4.46.0.ttf"); }
#vide {
  background: linear-gradient(to right, #091624 0%, #0a1f2e 31%, #00353b 61%, #225757 100%) !important; }

.container {
  width: 100%;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.container.contact .text-zone h1:before,
.container.skills .text-zone h1:before,
.container.about .text-zone h1:before {
  margin-top: -38px; }

.container.contact .text-zone h1:after,
.container.skills .text-zone h1:after,
.container.about .text-zone h1:after {
  bottom: -44px; }

.container.about .text-zone,
.container.skills .text-zone {
  width: 35%;
  min-height: 0; }

/* ********************RESPONSIVE***************************** */
@media (min-width: 1200px) {
  .container {
    max-width: 100%; } }
@media (min-width: 992px) {
  .container {
    max-width: 100%; } }
@media (min-width: 768px) {
  .container {
    max-width: 100%; } }
@media (min-width: 576px) {
  .container {
    max-width: 100%; } }
@media (min-width: 1100px) and (min-height: 900px) {
  h1 {
    font-size: 73px !important;
    line-height: 67px !important; }

  .home-page h2 {
    font-size: 14px !important; }

  .text-zone p {
    font-size: 16px !important;
    line-height: 21px !important; }

  .container.contact .text-zone h1:before,
  .container.skills .text-zone h1:before,
  .container.about .text-zone h1:before {
    margin-top: -38px; }

  .container.contact .text-zone h1:after,
  .container.skills .text-zone h1:after,
  .container.about .text-zone h1:after {
    bottom: -44px; }

  .bg {
    transform: scale(1.2); }

  .home-page h1 img {
    width: 38px; } }
@media (min-width: 960px) and (max-height: 800px) {
  .container.about .text-zone img {
    display: none; } }
@media (max-width: 1024px) {
  .container.contact .text-zone {
    width: 36%; }

  h1 {
    font-size: 54px !important;
    line-height: 45px; }

  .container.about .text-zone {
    width: 40%; }

  .text-page .text-zone h1:after,
  .container.about .text-zone h1:after,
  .container.contact .text-zone h1:after {
    bottom: -40px; }

  .text-page .text-zone h1:before,
  .container.about .text-zone h1:before,
  .container.contact .text-zone h1:before {
    margin-top: -29px; }

  .home-page .text-zone,
  .text-page .text-zone {
    width: 80%;
    min-height: 0; }

  .text-page .right-col {
    margin-top: 10px;
    position: static !important;
    max-height: auto;
    float: left;
    margin-left: 10%;
    transform: none !important; }

  #pyramid {
    display: none; }

  .bg {
    width: 263px;
    height: 400px; }

  /*     .text-zone {
          margin-top: 150px !important
      } */ }
@media (max-width: 800px) and (orientation: landscape) {
  #rotate {
    position: fixed;
    background-size: 100% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
    display: block !important;
    opacity: 1 !important; } }
@media (max-width: 960px) {
  #world {
    position: relative !important;
    width: 90% !important;
    height: auto !important;
    margin: auto; }

  #page {
    height: auto;
    position: relative; }

  .skills-charts {
    position: relative;
    left: 0;
    width: 80%;
    top: 0;
    transform: translateY(0%);
    clear: both;
    margin: auto;
    overflow: hidden; }

  .white .logo {
    padding-bottom: 4px; }

  #nav_bar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 0; }

  .white #nav_bar {
    border-right: 0;
    border-bottom: 1px solid #f4f4f4; }

  .logo {
    float: left;
    padding: 2px 0;
    margin-right: 20px; }

  .logo img {
    display: block;
    margin: 0 15px;
    width: auto;
    height: auto; }

  .logo > img:first-child {
    height: 60px; }

  .lang {
    float: left;
    width: auto;
    margin-top: 0;
    line-height: 60px; }
    .lang a {
      margin-top: 0;
      display: inline;
      margin-right: 7px; }

  #nav_bar nav {
    width: 42%;
    position: absolute;
    left: 47%;
    margin-left: -19%;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 60px;
    top: 0;
    margin-top: 0; }

  #nav_bar nav a {
    float: left;
    margin-left: 14%;
    line-height: 60px;
    height: 60px; }

  #nav_bar nav a:first-child {
    margin-left: 0; }

  #nav_bar nav a.active {
    width: 17%; }

  #nav_bar ul {
    position: static;
    bottom: 20px;
    width: auto;
    height: 60px;
    line-height: 60px;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
    float: right; }

  #nav_bar ul li {
    float: right;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
    padding: 17px 0; }

  #nav_bar ul li a {
    padding: 4px 0; }

  #nav_bar ul li a:hover {
    width: 25px; }

  .container {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 58px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    overflow: hidden; }

  .sound-cloud {
    position: static;
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    margin-bottom: 50px; }

  .container.gallery {
    position: absolute;
    min-height: 1200px; }

  .magicwall .magicwall-grid {
    margin-left: 0;
    margin-top: 60px; }

  .tags {
    margin-left: 10px;
    left: 0; }

  .top-tags {
    bottom: auto;
    top: 76px; }

  .bottom-tags {
    position: absolute;
    clear: both;
    float: left;
    margin-top: 22px;
    bottom: 0; }

  .text-zone {
    position: static !important;
    max-height: auto;
    min-height: 350px;
    float: left;
    margin-left: 10%;
    transform: none !important;
    margin-top: 170px; }

  .container.about .text-zone,
  .container.skills .text-zone {
    width: 80%;
    min-height: 0; }

  .section-skills {
    width: 100%;
    padding: 0 5%; }

  .portafolio-content {
    margin-top: 80px; }

  #myCanvasContainer {
    position: relative;
    margin: 0 10% !important;
    top: 0 !important;
    left: 0 !important;
    display: block;
    clear: both;
    width: 80%;
    height: auto; }

  #myCanvas {
    position: relative;
    width: 100%;
    margin: 0; }

  body {
    overflow: auto; }

  .blog-link {
    display: none; }

  .container.contact .text-zone {
    width: 80%; }

  .map-wrap {
    float: none;
    width: 80%;
    margin-left: 10%;
    height: 320px;
    clear: both; }

  #map .frase p {
    font-size: 25px; }

  #mySidenav a {
    left: -117px;
    padding: 15px 15px 5px 25px;
    width: 135px;
    font-size: 12px; } }
@media (max-width: 750px) {
  #nav_bar nav a {
    margin-left: 10%; }

  h1 {
    font-size: 47px !important;
    line-height: 40px !important; }

  .chart.small {
    display: none; } }
@media (max-width: 575px) {
  .project img {
    height: 260px; } }
@media (max-width: 530px) {
  .preloader .inner {
    width: 80%; }

  #awwwards {
    display: none; }

  #mobile-link {
    font-size: 30px;
    color: #fff;
    float: right;
    margin: 10px 20px 10px 10px;
    display: block; }

  #nav_bar ul {
    display: none; }

  .home-page .text-zone {
    width: 85%;
    left: 5%; }

  #nav_bar nav a.active {
    width: 17%; }

  body {
    overflow-x: hidden; }

  .home-page h1:after {
    display: none; }

  .chart-group {
    width: 50%;
    margin-bottom: 30px; }

  .chart-group .chart:first-child {
    margin: 0 auto 40px auto; }

  .inf-map {
    margin-left: 10%;
    width: 80%;
    position: static;
    clear: both; }

  .inf-map > span {
    position: relative;
    top: -10px; }

  #nav_bar {
    position: fixed; }

  #nav_bar nav {
    width: 100%;
    position: fixed;
    left: 100%;
    opacity: 0;
    margin-left: 0;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 60px;
    top: 60px;
    margin-top: 0;
    background: #63a5a2;
    transition: all 0.3s ease-out; }

  .white #nav_bar nav {
    background: #fff; }

  #nav_bar nav a {
    float: left;
    margin-left: 0 !important;
    line-height: 60px;
    height: 60px;
    width: 20%; }

  #nav_bar nav.show {
    left: 0;
    opacity: 1; }

  .contact-form ul li.half {
    width: 100%;
    margin-left: 0; }

  .preloader .inner {
    top: 20px; } }
@media (max-width: 440px) {
  .chart-group {
    width: 100%;
    margin-bottom: 30px; } }
@media (max-width: 390px) {
  .home-page .text-zone h1 {
    font-size: 12vw !important;
    line-height: 45px !important; } }

/*# sourceMappingURL=body.css.map */
