/* ==========================================================
! 2. SECTION: ABOUT ME
========================================================== */
.container.about .text-zone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%
}

.container.about .text-zone h1 {
    font-size: 53px;
    font-family: 'Audiowide', cursive;
    color: #08fdd8;
    font-weight: normal;
    margin-top: 0;
    position: relative;
    margin-bottom: 55px
}

.container.about h1 .blast {
    opacity: 0;
    transition: all .3s ease-out
}

.container.about .text-zone h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -10px
}

.container.about .text-zone h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -20px;
    bottom: -20px;
    margin-left: 20px
}

.container.about .text-zone p {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-family: 'terminus';
    letter-spacing: 0.5px;
}

.photoportada{
    display: flex;
    /*     justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(9, 22, 36, 1) 0%, rgba(10, 31, 46, 0.933) 31%, rgba(0, 53, 59, 0.655) 61%, rgba(34, 87, 87, 0.504) 100%),
    url('../img/laptopcom.jpg');
    /*     background: linear-gradient(to right, rgba(9, 22, 36, 1) 0%, rgba(10, 31, 46, 0.933) 31%, rgba(0, 53, 59, 0.855) 61%, rgba(34, 87, 87, 0.704) 100%) */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.sound-cloud {
    will-change: contents;
    margin-top: 100px;
    width: 40%;
    top: 20%;
    bottom: auto;
    position: fixed;
    left: auto;
    right: 8%;
    overflow: hidden;
    z-index: -1;
    text-align: center;
    .section-title {
        margin-top: 25px;
        color: #fff;
        font-family: 'Audiowide', cursive;
    }
    .distinciones{
        display:flex;
        justify-content: center;
        align-items: center;
        .top{
            background: #091624;
            border-radius: 100%;
        }
        .rock{
            background: #dbe0e0;
            border-radius: 100%;
        }
        .best{
            background: #091624;
            border-radius: 100%;
        }
    }
}