/* ==========================================================
! 6. SECTION: CONTACT
========================================================== */
.container.contact{
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        h1 {
            font-size: 53px;
            font-family: 'Audiowide', cursive;
            color: #08fdd8;
            font-weight: normal;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
             &:before {
                content: '<h1>';
                font-family: 'La Belle Aurore', cursive;
                color: #515152;
                font-size: 18px;
                position: absolute;
                margin-top: -10px
            }
             &:after {
                content: '<h1/>';
                font-family: 'La Belle Aurore', cursive;
                color: #515152;
                font-size: 18px;
                position: absolute;
                left: -20px;
                bottom: -20px;
                margin-left: 20px
            }
        }
        p {
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            font-family: 'terminus';
            letter-spacing: 0.5px;
        }
    }
    .blast {
        opacity: 0;
        transition: all .3s ease-out
    }
}

.contact-form {
    width: 100%;
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            opacity: 0.7;
            overflow: hidden;
            display: block;
            clear: both;
            position: relative;
            &.half {
                width: 49%;
                margin-left: 2%;
                float: left;
                clear: none;
                &:first-child {
                    margin-left: 0
                }

            }
            &.submit {
                overflow: hidden
            }
        }
    }
    input[type="text"],
    input[type="email"]{
        width: 100%;
        border: 0;
        background: #37393b;
        height: 30px;
        font-family: 'terminus';
        font-size: 16px;
        color: #8d8d8d;
        padding: 0 20px;
        box-sizing: border-box
    }
    textarea {
    width: 100%;
    border: 0;
    background: #37393b;
    height: 40px;
    font-size: 16px;
    font-family: "terminus";
    color: #8d8d8d;
    padding: 20px;
    box-sizing: border-box;
    min-height: 65px
    }
    .flat-button {
            color: #08fdd8;
            font-size: 11px;
            letter-spacing: 3px;
            font-family: "terminus";
            text-decoration: none;
            padding: 8px 10px;
            border: 1px solid #08fdd8;
            float: left;
            border-radius: 4px;
            background: transparent;
            text-transform: uppercase;
            float: right;
            text-align: center;
            margin-right: 10px;
        }
    .flat-button:hover {
            background: #08fdd8;
            color: #252627
        }


}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
textarea:focus {
    outline: 0
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px
}

.input__label--hoshi-color-2::after {
    border-color: #0fa
}

.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 2px solid #08fdd8;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.input__field--hoshi:focus+.input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.required .input__field--hoshi+.input__label--hoshi::after,
.required .input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-color: red
}

.input__field--hoshi:focus+.input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 .3s forwards;
    animation: anim-1 .3s forwards
}

textarea:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder {
    color: transparent
}

textarea:focus::-moz-placeholder {
    color: transparent
}

textarea:focus:-ms-input-placeholder {
    color: transparent
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

.contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 25px 30px 0 30px;
    a{
        color: #fff;
        font-size: 25px;
        text-decoration: none;
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 48%;
    height: 100%;
    margin-top: 0%;
    border-radius: 100% 0;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .frase{
        text-align: center; 
       p{
           color:rgb(255, 255, 255);
           font-size: 25px;
           font-family: 'Lobster', cursive;
       } 
    }
}


