/* ==========================================================
! 6. SECTION: CONTACT
========================================================== */
.container.contact .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%
}

.container.contact .text-zone h1 {
    font-size: 53px;
    font-family: font-file-82132;
    color: #08fdd8;
    font-weight: normal;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px
}

.container.contact .blast {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.container.contact .text-zone h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -10px
}

.container.contact .text-zone h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -20px;
    bottom: -20px;
    margin-left: 20px
}

.container.contact .text-zone p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300
}
.fa-download:before {
    content: "\f019";
}
.button_download {
    display: block;
    background: #2DAEE0;
    color: #fff;
    border: 1px solid #2DAEE0;
    color: #fff;
    margin: 10px 0;
    max-width: 220px;
    padding: 6px 19px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 50%;
    height: 100%;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1
}

