/* ==========================================================
! 0. SECTION: MENU
========================================================== */

#nav_bar {
    background: $colorblue;
    width: 65px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    .logo {
        display: block;
        img {
            display: block;
            margin: 8px auto;
            width: 100%;
            height: auto
        }
    } 
    nav {
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 22px;
            color: $colorblack;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            i {
                transition: all .3s ease-out
            }
        }

        a.active{
            color: $colorblue;
        }
        a:hover {
            color: $colorblack;
            i {
                opacity: 0;
            }
        }

        a:after {
            content: '';
            font-size: 9px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s ease-out
        }

    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li  {
            padding: 0 16px;
           a {
               padding: 7px 0;
               display: block;
               font-size: 15px;
               line-height: 16px;
               color: $colorblack;
           }

           a:hover {
               color: $colorblue;
                border-radius: 20px;
                background: $colorblack;

           }
        }
    }
    #mobile-link {
        display: none;
        &:hover {
            color: $colorblack;
        }
    }
}

@mixin condicional($color){
    color:($color);
    @if $color == $colorblue{
        #nav_bar nav a:hover {
            color: $colorblue;
            font-weight: 600;
        }
    }@else{
        #nav_bar nav a:hover {
            color: $colorblack;
            font-weight: 600;
        }
    }
}

#nav_bar nav a.active{
    @include condicional($colorblue);
    background: $colorblack;
}

#nav_bar nav a:first-child:after {
    content: 'HOME'
}

#nav_bar nav a:first-child+a:after {
    content: 'ABOUT'
}

#nav_bar nav a:first-child+a+a:after {
    content: 'SKILLS'
}

#nav_bar nav a:first-child+a+a+a:after {
    content: 'MY WORK'
}

#nav_bar nav a:first-child+a+a+a+a:after {
    content: 'CONTACT'
}

#nav_bar nav a:hover:after {
    opacity: 1
}

