/* ==========================================================
! 5. SECTION: PROJECTS
========================================================== */
.gallery {
    width: 100%;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container .portafolio {
    position: absolute;
    width: 100%;
}

.portafolio-content,
.portafolio-title {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_container{
    width: 100%;
    text-align: center;
}

.project_controls {
    padding: 0 0 20px 0;
    margin-top: 3%;
    text-align: center;
}

.filter {
    background: none;
    color: #091624;
    transition: all 0.3s;
    text-decoration: none;
}

.filter:hover {
    color: #fff;
    background: rgba(110, 110, 86, 0.451);
    text-decoration: none;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.project_controls a.active,
.filter.active{
    background: rgba(247, 238, 0, 0.451);
    text-decoration: none;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

/* Style the links inside the sidenav */

#mySidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    .select-project {
        width: 250px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
        &#projects, &#blog {
            background: #091b2e6e;
        }
        a {
            font-family: 'Audiowide', cursive;
            transition: 0.3s;
            text-decoration: none;
            font-size: 14px;
            color: rgb(253, 250, 250);
            z-index: 10;
            width: 100%;
            padding: 6px 0;
        }
    }
}

.main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.ch-grid {
    margin: 30px 0 0 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 7%;
}
.ch-grid li {
    width: 265px;
    height: 175px;
    display: inline-block;
    margin: 10px;
}
.ch-item {
    width: 100%;
    height: 100%;
    /* border-radius: 15%; */
    position: relative;
    cursor: default;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.507);
    /* box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 10px rgba(16, 61, 54, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1); */
    transition: all 0.4s ease-in-out;
}
.onlyimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    &.ch-img-1 {
        background-image: url('../img/trellophoenix.png');
    }
    &.ch-img-2 {
        background-image: url('../img/scoreboard.png');
    }
    &.ch-img-3 {
        background-image: url('../img/registerapp.png');
    }
    &.ch-img-4 {
        background-image: url('../img/quizabc.png');
    }
    &.ch-img-5 {
        background-image: url('../img/startstudio.png');
    }
    &.ch-img-6 {
        background-image: url('../img/gamelab.png');
    }
    &.ch-img-7 {
        background-image: url('../img/routing.png');
    }
    &.ch-img-8 {
        background-image: url('../img/foro.png');
    }
    &.ch-img-9 {
        background-image: url('../img/sushi.png');
    }
    &.ch-img-10 {
        background-image: url('../img/yanapa.png');
    }
    &.ch-img-11 {
        background-image: url('../img/gameplanet.png');
    }
    &.ch-img-12 {
        background-image: url('../img/lift.png');
    }
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
	color: rgba(255, 230, 5, 1);
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 30px 0 0 0;
	height: 70px;
    font-family: 'terminus';
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 5px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	color: rgba(255, 255, 255, 0.822);
    font-style: normal;
    text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-item:hover {
    box-shadow: inset 0 0 0 110px rgba(1, 13, 29, 0.9), inset 0 0 0 2px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);
}
.ch-info:hover figcaption {
    opacity: 1;
    visibility: visible;
}

.ch-info figcaption {
    position: absolute;
    left: 50%;
    top: 75%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ch-info .classless i {
    line-height: 30px;
    width: 30px;
    position: relative;
    transition: 0.3s;
    text-align: center;
    font-size: 17px;
    color: #fffefe;
}

.ch-info .classless .icon+.icon {
    margin-left: 15px;
}

.ch-info .classless .icon {
    position: relative;
    display: inline-block;
}

.ch-info .classless .icon:hover i {
    color: #08fdd8;
}

.ch-info .classless .icon:hover:before {
    border-color: #08fdd8;
}

.ch-info .classless .icon:before {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    content: '';
}

.ch-item:hover .classless {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.classless {
    margin-top: 15px;
    transition: 0.3s;
    opacity: 0;
    visibility: visible;
    transform: translateY(-20px);
}

.classless .icon {
    cursor: pointer;
}




