/* ==========================================================
! 4. SECTION: SKILLS
========================================================== */
.container.skills .text-zone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%
}

.container.skills .text-zone h1 {
    font-size: 53px;
    font-family: fantasy;
    color: #08fdd8;
    font-weight: normal;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    display: block
}

.container.skills h1 .blast {
    opacity: 0;
    transition: all .3s ease-out
}

.container.skills .text-zone h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -35px
}

.container.skills .text-zone h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -20px;
    bottom: -40px;
    margin-left: 20px
}

.container.skills .text-zone p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300
}

.skills-charts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}
.section-skills{
    width: 50%;
/*     padding: 0 0 0 95px; */
    h2{
        color: #08fdd8;
        font-size: 20px;
        text-align: center;
    }
    h3{
        color: #08fdd8;
        font-size: 17px;
        text-align: center;
    }
}

.skills-list {
    padding-left: 0;
    margin-left: 35px;
    margin-right: 55px;
}

.progress {
    position: relative;
    margin-bottom: 3%;
    height: 31px;
    width: 100%;
}

.progress>.progress-type {
    position: absolute;
    left: 0px;
    font-size: 13px;
    padding: 3px 30px 5px 10px;
    color: #ffffff;
    height: 100%;
}
.progress>.progress-type i {
    font-size: 22px;
}

.skills-list {
    list-style: none;
}

.progress-bar-9 {
    background: #e9a11c;
}

.progress-bar-10 {
    background: #3472e4;
}

.wrap {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

/* Progress Skills */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

// Colors
$barColor: tomato;
$overlayColor: #fffde8;
$backColor: #2f3439;


/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial
{  float: left;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid $backColor;
  background-color: $barColor;
  margin: 10px 18px;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */  
.progress-radial .overlay{
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: $overlayColor;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 15px;
  text-align: center;
  line-height: 60px;
  padding-top: 16px;
  i{
    font-size: 40px;  
  }
  
}
  
/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

$step: 5; // step of % for created classes

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops{
  .progress-#{$i*$step}{
    @if $i < $half{
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
    }
    @else{
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
    }
    }
}