@import '_menu.scss';
@import '_home.scss';
@import '_about.scss';

body {
    background: #252627;
    display: block;
    margin: 0;
    padding: 0;
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    user-select: none;
    overflow: auto;
}

  .container.contact .text-zone h1:before,
  .container.skills .text-zone h1:before,
  .container.about .text-zone h1:before {
      margin-top: -38px
  }

  .container.contact .text-zone h1:after,
  .container.skills .text-zone h1:after,
  .container.about .text-zone h1:after {
      bottom: -44px
  }

    .container.about .text-zone,
    .container.skills .text-zone {
        width: 80%;
        min-height: 0
    }